{% extends 'base.html' %}
{% load static %}


{% block title %}Profile | {{user.username}}{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/mycss.css' %}">

{% block content %}



    <header class="navbar-fixed-top">
        <nav>
            <ul>
                <li><a href="{% url 'website:home' %}">Home</a></li>
                {% if user.is_superuser %}
                <li><a href="/admin/">Admin</a></li>
                {% endif %}
                <li><a href="#">Edit</a></li>
                <li><a href="{% url 'accounts:logout' %}">Log out</a></li>


            </ul>
        </nav>
    </header>

</div>





<div class="row" >
    <div class="col-6 jumbotron jumbotron-fluid" style="background-color:#ff9696 ">
  <div class=" container">
    <h1 class="display-4">Hello {{user.username}} !
     {% if user.is_special %}
        <h1>You are special user !!!</h1>
        {% endif %}
            <div class="containerr" style="padding-top: 20px;">
  <div>
      <a href="{% url 'website:edit_prof' user.username %}"><button style="border-radius: 30px;" type="button" class="btn btn-warning" >Edit your profile</button></a>
  </div>
</div>
    </h1>
  </div>
</div>
        <div class="col-6 jumbotron jumbotron-fluid"  style="background-color:#ff9696">

<img src="{{user.prof_pic.url}}" style="border-radius: 10% ;" alt="Avatar">

</div>
</div>



<div class="section" id="projects">
        <div class="container">
            <div class="col-md-12">

                {% if page_obj.object_list %}
                <h1 class="size-50">Your <br /> Pictures <a href="{% url 'website:pic_create' %}"><span class="badge rounded-pill bg-danger">Add New Picture</span></a> </h1>




            </div>
            <!-- main container -->
            <div class="main-container portfolio-inner clearfix" style="margin-top:130px;">
                <!-- portfolio div -->
                <div class="portfolio-div">
                    <div class="portfolio">
                        <!-- portfolio_filter -->

                        <!-- portfolio_filter -->

                        <!-- portfolio_container -->
                        <div class="no-padding portfolio_container clearfix" data-aos="fade-up">
                            <!-- single work -->
                            {% for pic in page_obj.object_list %}
                            <div class="col-md-4 col-sm-6  fashion logo">
                                <a  href="{% url 'website:single_pic' pic.slug %}" class="portfolio_item"> <img src="{{pic.img.url}}" alt="image" class="img-responsive" />
                                <h1>{{pic.img.url}}</h1>
                                </a>
                            </div>
                            {% endfor %}
                            <!-- end single work -->

                            <!-- end single work -->

                            <!-- single work -->

                            <!-- end single work -->

                            <!-- single work -->

                            <!-- end single work -->

                            <!-- single work -->

                            <!-- end single work -->

                            <!-- single work -->

                            <!-- end single work -->

                            <!-- single work -->

                            <!-- end single work -->

                            <!-- single work -->

                            <!-- end single work -->

                            <!-- single work -->


                            <!-- end single work -->
                        </div>
                        <!-- end portfolio_container -->
                    </div>
                    {% else %}
                    <div class="jumbotron jumbotron-fluid" style="background-color:#ff9696">
  <div class="container">
    <h1 class="display-4">You do not have any picture in your album yet .!!!</h1>
  </div>
                        <div class="containerr">
  <div class="mycenter">
      <a href="{% url 'website:pic_create' %}"><button class="button">Add a photo</button></a>
  </div>
</div>
</div>
                {% endif %}

                    <!-- portfolio -->
                </div>


{% if page_obj.object_list %}

                <ul class="pagination pagination-lg justify-content-center" style="margin:20px 0">



    {% if page_obj.number == 1 %}



  <li class="page-item active"><a class="page-link" href="#">1</a></li>

{% if page_obj.has_next %}
  <li class="page-item"><a class="page-link" href="{% url 'website:pics'  user.username %}?p=2">2</a></li>
    <li class="page-item active"><a class="page-link" href="{% url 'website:pics'  user.username %}?p=2">Next</a></li>



{% endif %}






{% else %}
<li class="page-item active"><a class="page-link" href="{% url 'website:pics'  user.username %}?p={{page_obj.previous_page_number}}">Previous</a></li>
  <li class="page-item"><a class="page-link" href="{% url 'website:pics'  user.username %}?p={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
    <li class="page-item active"><a class="page-link" href="#">{{page_obj.number}}</a></li>


    {% if page_obj.has_next %}



  <li class="page-item"><a class="page-link" href="{% url 'website:pics'  user.username %}?p={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
  <li class="page-item active"><a class="page-link" href="{% url 'website:pics'  user.username %}?p={{page_obj.next_page_number}}">Next</a></li>

    {% endif %}









    {% endif %}




                    {% endif %}



<!--   <li class="page-item"><a class="page-link" href="#">Previous</a></li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item active"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">Next</a></li> -->




</ul>






{% endblock %}




