{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arshiya|Shad</title>
<!--    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">-->
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/aos.css' %}" rel="stylesheet">
    <!-- main style -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/mycss.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">

            <div class="preloader" aria-busy="true" aria-label="Loading, please wait." role="progressbar">
            </div>

        </div>
    </div>
    <!-- ./Preloader -->
    
    <!-- header -->
    <header class="navbar-fixed-top">
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#experience">experience</a></li>
                <li><a href="#projects">pictures</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- ./header -->
    
    <!-- home -->
    <div class="section" id="home" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="disply-table">
                <div class="table-cell" data-aos="fade-up" data-aos-delay="0">
                    <h4>Arshiya Sohrabi Shad</h4>
                    <h1>Air traffic control student  & <br /> programmer</h1> </div>
            </div>
        </div>
    </div>
    <!-- ./home -->
    
    <!-- about -->
    <div class="section" id="about">
        <div class="container">
            <div class="col-md-6" data-aos="fade-up">
                <h4>01</h4>
                <h1 class="size-50">Know <br /> About me</h1>
                <div class="h-50"></div>
                <p>Born in 2002 Qazvin,Iran . </p>
                <div class="h-50"></div> <img src="{% static 'img/Signature.svg' %}" width="230" alt="" />
                <div class="h-50"></div>
            </div>

                <img src="{% static 'img/image_50444289.JPG' %}" width="400" class="img-responsive" alt="" align="right" data-aos="fade-right" data-aos-delay="0" />
            </div>
        </div>
    </div>
    <!-- ./about -->
    
    <!-- experience  -->
    <div class="section" id="experience">
        <div class="container">
            <div class="col-md-12">
                <h4>02</h4>
                <h1 class="size-50">My <br /> Resume</h1>
                <div class="h-50"></div>
            </div>
            <div class="col-md-12">
                <ul class="timeline">
                    <li class="timeline-event" data-aos="fade-up">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">

                            <h3>Pro volleyball player</h3>
                            <p>In love with volleyball . Started playing at age of 12</p>
                        </div>
                        <div>

                        </div>
                    </li>
                    <li class="timeline-event" data-aos="fade-up" data-aos-delay=".2">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <h3>Graduated from SAMPAD in high-school</h3>

                        </div>
                    </li>
                    <li class="timeline-event" data-aos="fade-up" data-aos-delay=".4">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <h3>Mid-level programmer</h3>

                            <p><strong>Python</strong>
                                <br>Django , Bots for Telegram ,Selenium ,etc .</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>



    </div>

    <!-- ./experience -->
    
    <!-- projects -->
    <div class="section" id="projects">
        <div class="container">
            <div class="col-md-12">
                <h4>03</h4>
                <h1 class="size-50">My <br /> Pictures</h1>
            </div>
            <!-- main container -->
            <div class="main-container portfolio-inner clearfix">
                <!-- portfolio div -->
                <div class="portfolio-div">
                    <div class="portfolio">
                        <!-- portfolio_filter -->

                        <!-- portfolio_filter -->
                        
                        <!-- portfolio_container -->
                        <div class="no-padding portfolio_container clearfix" data-aos="fade-up">
                            <!-- single work -->
                            <div class="col-md-4 col-sm-6  fashion logo">
                                <a id="demo01" href="#" class="portfolio_item"> <img src="{% static 'img/IMG_20210113_185134_048.jpg' %}" alt="image" class="img-responsive" />

                                </a>
                            </div>
                            <!-- end single work -->
                            <div class="col-md-4 col-sm-6  fashion logo">
                                <a id="demo02" href="#" class="portfolio_item"> <img src="{% static 'img/IMG_20201005_135626_075.jpg' %}" alt="image" class="img-responsive" />

                                </a>
                            </div>

                              <div class="col-md-4 col-sm-6  fashion logo">
                                <a id="demo03" href="#" class="portfolio_item"> <img src="{% static 'img/IMG_20211227_131201_416.jpg' %}" alt="image" class="img-responsive" />

                                </a>
                            </div>
                            <!-- single work -->
                            <div class="col-md-4 col-sm-6  fashion logo">
                                <a id="demo04" href="#" class="portfolio_item"> <img width="300" height="400" src="{% static 'img/IMG_20220419_040902_940.webp' %}" alt="image" class="img-responsive" />

                                </a>
                            </div>
                            <!-- end single work -->
                            
                            <!-- single work -->

                            <!-- end single work -->
                            
                            <!-- single work -->

                            <!-- end single work -->
                            
                            <!-- single work -->

                            <!-- end single work -->
                            
                            <!-- single work -->

                            <!-- end single work -->
                            
                            <!-- single work -->

                            <!-- end single work -->
                            
                            <!-- single work -->

                            <!-- end single work -->
                            
                            <!-- single work -->


                            <!-- end single work -->
                        </div>
                        <!-- end portfolio_container -->
                    </div>
                    <!-- portfolio -->
                </div>

<div class="containerr">
  <div class="centerr">
      <a href="admin/"><button class="button">login</button></a>
  </div>
</div>
                <!-- end portfolio div -->
            </div>
            <!-- end main container -->
        </div>
    </div>
    <!-- ./projects -->
    
    <!-- contact -->
    <div class="section" id="contact">
        <div class="container">
            <div class="col-md-12">
                <h4>04</h4>
                <h1 class="size-50">Contact  Me</h1>
                <div class="h-50"></div>
            </div>
            <div class="col-md-4" data-aos="fade-up">

                <h3>Phone Number</h3>
                <p>+98 09109575120</p>

                <h3>Email</h3>
                <p>arshiyasohrabi81@gmail.com</p>

                <h3>Social Network</h3>

                <ul class="social">

                                           <li><a target="_blank" href="https://t.me/arshiyaw"><i class="fa fa-telegram" style="font-size:28px"></i></a></li>



                    <li><a target="_blank" href="https://www.instagram.com/arshiwya"><i class="ion-social-instagram"></i></a></li>


                </ul>
                <div class="clearfix"></div>
                <div class="h-50"></div>
            </div>

        </div>
    </div>

    <!-- ./contact -->

    <!--DEMO01-->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!--  plugins  -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>

    <!--  main script  -->
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>