{% extends "base.html" %}
{% load static %}

{% block title %}Shad{% endblock %}


{% block content %}
    <header class="navbar-fixed-top">
        <nav>
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#experience">experience</a></li>
                <li><a href="{% url 'website:pics' %}">pictures</a></li>
                <li><a href="#contact">contact</a></li>

            </ul>
        </nav>
    </header>


    <!-- about -->
    <div class="section" id="about">
        <div class="container">
            <div class="col-md-6" data-aos="fade-up">
                <h4>01</h4>
                <h1 class="size-50">Know <br /> About me</h1>
                <div class="h-50"></div>
                <p>Born in 2002 Qazvin,Iran . </p>
                <div class="h-50"></div> <img src="{% static 'img/Signature.svg' %}" width="230" alt="" />
                <div class="h-50"></div>
            </div>

                <img src="{% static 'img/image_50444289.JPG' %}" width="400" class="img-responsive" alt="" align="right" data-aos="fade-right" data-aos-delay="0" />
            </div>
        </div>
    </div>
    <!-- ./about -->

    <!-- experience  -->
    <div class="section" id="experience">
        <div class="container">
            <div class="col-md-12">
                <h4>02</h4>
                <h1 class="size-50">My <br /> Resume</h1>
                <div class="h-50"></div>
            </div>
            <div class="col-md-12">
                <ul class="timeline">
                    <li class="timeline-event" data-aos="fade-up">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">

                            <h3>Pro volleyball player</h3>
                            <p>In love with volleyball . Started playing at age of 12</p>
                        </div>
                        <div>

                        </div>
                    </li>
                    <li class="timeline-event" data-aos="fade-up" data-aos-delay=".2">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <h3>Graduated from SAMPAD in high-school</h3>

                        </div>
                    </li>
                    <li class="timeline-event" data-aos="fade-up" data-aos-delay=".4">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <h3>Mid-level programmer</h3>

                            <p><strong>Python</strong>
                                <br>Django , Bots for Telegram ,Selenium ,etc .</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>



    </div>

    <!-- ./experience -->

    <!-- projects -->


<div class="containerr">
  <div class="centerr">
      <a href="{% url 'website:pics' %}"><button class="button">my pictures</button></a>
  </div>
</div>


{% if not user.is_authenticated %}

<div class="containerr">
  <div class="centerr">
      <a href="{% url 'accounts:sign_in' %}"><button class="button">Create Your Album</button></a>
  </div>
</div>

{% endif %}
                <!-- end portfolio div -->
            </div>
            <!-- end main container -->
        </div>
    </div>
    <!-- ./projects -->

    <!-- contact -->
    <div class="section" id="contact">
        <div class="container">
            <div class="col-md-12">
                <h4>04</h4>
                <h1 class="size-50">Contact  Me</h1>
                <div class="h-50"></div>
            </div>
            <div class="col-md-4" data-aos="fade-up">

                <h3>Phone Number</h3>
                <p>+98 09109575120</p>

                <h3>Email</h3>
                <p>arshiyasohrabi81@gmail.com</p>

                <h3>Social Network</h3>

                <ul class="social">

                                           <li><a target="_blank" href="https://t.me/arshiyaw"><i class="fa fa-telegram" style="font-size:28px"></i></a></li>



                    <li><a target="_blank" href="https://www.instagram.com/arshiwya"><i class="ion-social-instagram"></i></a></li>


                </ul>
                <div class="clearfix"></div>
                <div class="h-50"></div>
            </div>

        </div>
    </div>

    <!-- ./contact -->

    <!--DEMO01-->

    <!-- jQuery -->

{% endblock %}
